body{
    margin: 20px;
    font-family: Calibri;
}
#title{
    background: plum;
    font-size: 25px;
    font-weight: bold;
    padding: 5px;
}
input[type=submit] {
    background-color: deepskyblue;
    color: white;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#second_title{
    font-weight: bold;
    color: midnightblue;
}